<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{!-- <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
      width="100" /> --}}
    <div class="header-fields">
      <div class="ClassBlock">
        <div class="ClassBlock__Title">
          <select class="dhClass" name="dh_class">
            {{selectOptions classOptions selected=system.attributes.class.value}}
          </select>
        </div>
        <div class="ClassBlock__Domains">
          {{#each system.attributes.domains.value as |domain|}}
            {{domain}}{{#unless @last}} & {{/unless}}
          {{/each}}
        </div>
      </div>
      <div class="FieldsBlock">
        <div class="FieldsBlock__Row">
          <div class="input__Wrapper">
            <label for="name" class="input__InnerLabel">name</label>
            <input name="name" type="text" value="{{actor.name}}" />
          </div>
          <div class="input__Wrapper">
            <label for="pronouns" class="input__InnerLabel">pronouns</label>
            <input name="pronouns" type="text" value="{{system.attributes.pronouns.value}}" />
          </div>
        </div>
        <div class="FieldsBlock__Row">
          <div class="input__Wrapper">
            <label for="heritage" class="input__InnerLabel">heritage</label>
            <input name="heritage" type="text" value="{{system.attributes.heritage.value}}" />
          </div>
          <div class="input__Wrapper">
            <label for="subclass" class="input__InnerLabel">subclass</label>
            <input name="subclass" type="text" value="{{system.attributes.subclass.value}}" />
          </div>
        </div>
      </div>
      <div class="LevelBlock">
        <div class="resource flex-group-center">
          <div class="Shield__Wrapper">
            {{> "systems/daggerheart/templates/actor/parts/shield.hbs"}}
            <label for="system.attributes.level.value" class="resource-label">Level</label>
            <input type="text" class="absoluteTextField" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
              data-dtype="Number" />
          </div>
        </div>
      </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="Inventory">Inventory</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="armor_eva">
        <div class="Attribute__Wrapper">
          <div class="evasion">
            {{> "systems/daggerheart/templates/actor/parts/shield.hbs"}}
            <label for="system.attributes.evasion.value" class="resource-label">Evasion</label>
            <input type="text" class="absoluteTextField" name="system.attributes.evasion.value" value="{{system.attributes.evasion.value}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="armor">
          <div class="Attribute__Wrapper">
            {{> "systems/daggerheart/templates/actor/parts/shield.hbs"}}
            <label for="system.attributes.armor.value" class="resource-label">Armor</label>
            <input type="text" class="absoluteTextField" name="system.attributes.armor.value" value="{{system.attributes.armor.value}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="armor_slots">
          {{> "systems/daggerheart/templates/actor/parts/actor-checks.hbs" attr=system.attributes.armor_slots key="armor_slots"}}
        </div>
      </div>
      <div class="abilities">
        {{#each system.abilities as |ability key|}}
        <div class="ability">
          {{> "systems/daggerheart/templates/actor/parts/actor-attribute.hbs" ability=ability abilities=abilities
          key=key}}
        </div>
        {{/each}}
      </div>
    </div>

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          {{> "systems/daggerheart/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/daggerheart/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/daggerheart/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/daggerheart/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>